@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles that need to override Tailwind can go here */

@layer base {
    :root {
      --color-background: #fefefe;
  
      --color-surface-light: #ffffff;
      --color-surface-dark: #f5f5f5;
  
      --color-text-light: #1f2937;
      --color-text-dark: #1f2937;
  
      --color-accent-light: #4f46e5;
      --color-accent-dark: #3730a3;
    }
      
    @theme {
      --color-background: var(--color-background);
    
      --color-surface-light: var(--color-surface-light);
      --color-surface-dark: var(--color-surface-dark);
    
      --color-text-light: var(--color-text-light);
      --color-text-dark: var(--color-text-dark);
      
      --color-accent-light: var(--color-accent-light);
      --color-accent-dark: var(--color-accent-dark);
    }
  }
  
@layer utilities {
  .bg-background {
    background-color: var(--color-background);
  }
  .bg-surface-light {
    background-color: var(--color-surface-light);
  }
  .bg-surface-dark {
    background-color: var(--color-surface-dark);
  }
  .text-text-light {
    color: var(--color-text-light);
  }
  .text-text-dark {
    color: var(--color-text-dark);
  }
  .bg-accent-light {
    background-color: var(--color-accent-light);
  }
  .bg-accent-dark {
    background-color: var(--color-accent-dark);
  }
  .text-accent-light {
    color: var(--color-accent-light);
  }
  .text-accent-dark {
    color: var(--color-accent-dark);
  }
}
  